<md-card>

  <md-card-header>
    <md-card-title>Ethereum</md-card-title>
    <md-card-subtitle>Digital Currency</md-card-subtitle>
    <img md-card-avatar src="./../../../assets/img/ethereum.png">
  </md-card-header>

  <md-card-content>
    <span style="width: 50%; height: 100%; display: inline-block" *ngIf="cryptonatorInfo">

      <app-market-price-volume-chart [markets]="cryptonatorInfo?.markets"></app-market-price-volume-chart>

      <!--Change: {{cryptonatorInfo.change | number:'1.3-4'}}%-->
    </span>

    <span style="width: 50%; height: 100%; display: inline-block; float: right" *ngIf="coinBaseInfo">

      <app-sell-spot-buy-line-chart [info]="coinBaseInfo"></app-sell-spot-buy-line-chart>

    </span>



  </md-card-content>

</md-card>
