<md-card class="coin-list-card">

  <md-card-title>
    <md-input-container>
      <input mdInput placeholder="Search" [(ngModel)]="search" type="text" id="search" name="search">
    </md-input-container>
    <button md-icon-button>
      <md-icon>search</md-icon>
    </button>
  </md-card-title>

  <md-card-content>

    <table *ngIf="coinList">
      <tr>
        <td>Symbol</td>
        <td>Name</td>
        <td>Proof Type</td>
        <td>Algorithm</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr *ngFor="let coin of coinList" class="coin-row pointer"
        [class.hidden]="!showListItem(search, coin['Name'], coin['CoinName'], coin['ProofType'], coin['Algorithm'])">
        <td highlightSearched [search]="search" [text]="coin['Name']" classToApply="searched"></td>
        <td highlightSearched [search]="search" [text]="coin['CoinName']" classToApply="searched"></td>
        <td highlightSearched [search]="search" [text]="coin['ProofType']" classToApply="searched"></td>
        <td highlightSearched [search]="search" [text]="coin['Algorithm']" classToApply="searched"></td>
      </tr>
    </table>

  </md-card-content>

</md-card>

<router-outlet></router-outlet>


