@import '~@angular/material/theming';
@include mat-core();
$app-primary: mat-palette($mat-light-blue);
$app-accent:  mat-palette($mat-light-green);
$app-warn:    mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/roboto-v16-latin-regular.svg'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
  url('assets/fonts/roboto-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/roboto-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/roboto-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('assets/fonts/roboto-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/roboto-v16-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.pointer {
  cursor: pointer;
}

.hidden {
  display: none ! important;
}

.searched {
  background-color: mat-color($app-accent);
}

.container {
  -webkit-flex: 1; /* Safari 6.1+ */
  -ms-flex: 1; /* IE 10 */
  flex: 1;

  button {
    width: 100%;
  }

  table {
    width: 100%;
  }

}
