<div *ngIf="ticker">
  <h1>Market Volume</h1>
    <app-pie-chart [markets]="ticker.markets"></app-pie-chart>
</div>

<h3>
  Coinbase
</h3>

<div *ngIf="coinBaseInfo">
  <div>
    <button md-raised-button>
      Sell: {{coinBaseInfo.sell | currency:'USD':true}}
    </button>
  </div>
  <div>
    <button md-raised-button>
      Spot: {{coinBaseInfo.spot | currency:'USD':true}}
    </button>
  </div>
  <div>
    <button md-raised-button>
      Buy: {{coinBaseInfo.buy | currency:'USD':true}}
    </button>
  </div>

</div>
<div *ngIf="ticker">
  <button md-raised-button>
    <table>
      <tr>
        <td>{{ticker.base}}</td>
        <td>{{ticker.price | currency:'USD':true}}</td>
        <td>Volume: {{ticker.volume | number:'1.3-4'}}</td>
        <td *ngIf="ticker.trendingUp()">
          {{ticker.change | number:'1.3-4'}}%
          <md-icon color="accent">arrow_upward</md-icon>
        </td>
        <td *ngIf="!ticker.trendingUp()">
          {{ticker.change | number:'1.3-4'}}%
          <md-icon color="warn">arrow_downward</md-icon>
        </td>
      </tr>
    </table>
  </button>
</div>
